@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer components {
  .perspective {
    perspective: 2200px;
  }
}

.custom-bg,
.custom {
  background-color: white;
}
